@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Roboto:300,400');

$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;
$primary-color: #fff;

@mixin transform($property) {
  -webkit-transform: $property;
      -ms-transform: $property;
          transform: $property;
}
@mixin transition($property) {
  -webkit-transition: $property;
      -ms-transition: $property;
          transition: $property;
}
@mixin background-size($property) {
    	-webkit-background-size: $property;
    	-moz-background-size: $property;
    	-o-background-size: $property;
    	background-size: $property;
}
body {
  font: 16px $montserrat;
  color: $primary-color;
  max-width:1920px;
  margin:0 auto;
  padding-bottom:5%;
}
.row{margin: 0;}
.col{padding:0;}
.container{padding:0;}
h1 {
	font-size: 4em;
	font-weight:bold;
	color: #ffffff;
	text-transform:capitalize;
}
a{
	color:$primary-color;
		&:hover{
		color: #fff;
		cursor: pointer;
		text-decoration: none;
	}
}
.cta{
	color:#6a64de;
	&:hover{
		color:#6a64de;
	}
	img{
		padding:5px;
	}
}
.container{
	background: #fff;
	max-width:100%;
	overflow:hidden;
}
nav{
	@include transition(ease all 1s);
	border-top: 1px solid rgba(255,255,255,0.7);
	border-bottom: 1px solid rgba(255,255,255,0.7);
	max-width:1920px;
	margin:0 auto;
	.navbar-brand{
		padding-left:1em;
	}
	ul{

	}
	li{
		font-size: .8em;
		background:#6a64de;
		min-width: 100px;
		margin:5px;
		text-align:center;
		text-transform:uppercase;
		border-radius:3px;
		align-items: center;
	    display: flex;
	    justify-content: center;
		&:hover{
		background:#fff;
		color:#6a64de;
		}
		a{
			width:100%; 
			height:100%;
			&:hover{color:#6a64de;}
		}
	}

}
section {
	position:relative; height: auto; width:100%;
	a{
		background:transparent;
	}
}
p{
	font-family: $roboto;
	font-weight: 300;
}

.hero {
	height:100vh; 
	width:100%;
    background: url(../images/hero-colour.jpg) no-repeat center center fixed;
	@include background-size(cover);
    justify-content: center;
    display: flex;

.overlay{
	position: absolute; width: 100%; height:100%; color: $primary-color;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-flow:column;
	text-align:center;
			.arw{
				display: inline-block;
			}
			.arw svg{
		    	margin-right:10px;
		    	fill: #fff;
		    }

			h4{
				font-size:.8em;
				text-transform:uppercase;
				display:inline-flex;
			}
	    	
		.menu{
			text-transform:uppercase;
			margin:3% auto;
		    width: 60%;
		    a{
		    	&:hover{
		    		color:#000;
		    	}
		    }
			h3{
				font-size:1em;
				font-weight:500;
			}

			ul{
		        display: flex;
			    flex-wrap: wrap;
			    width: 100%;
			    align-items: center;
			    justify-content: center;
			    margin: 0 auto;
			    padding: 0;
			}
			li{
			    list-style: none;
			    background: rgba(255, 255, 255, 0.3);
			    border-radius: 3px;
			    height: 60px;
			    flex-flow: row;
			    font-size: 0.6em;
			    letter-spacing: 1px;
			    margin:5px;
			      width: 23%;
				  text-align: center;
				  color: #fff;
				  display: flex;
				  align-items: center;
				  justify-content: center;
			    &:hover{
			    	background: rgba(255, 255, 255, 1);
			    	color:#000;
			    }
			    &:hover svg{
			    	fill:#000;
			    }
			    svg {
			    	fill:#fff;
			    	width: 20px; 
			    	margin: 1em;

			    }

			}
		}
	}
}

.sec-1{
	.row{
		max-width:80%;
		margin:0 auto;
		padding-bottom: 5%;
	}
	h2{
		color:#000;
		padding-top:25%;
	    font-weight: 700;
		line-height: 1.2;
		margin-bottom: 5%;
		font-size:2.5em;
	}
	p{
		color: #000;
	    padding-right: 15%;
	    line-height: 1.5;
	    font-size: 1.3em;
	}
	.label{
		font: 700 2em $montserrat;
		position:absolute;
		bottom:0%;
		right:0%;
		z-index:5;
		color:#fff;
	}
	.main-img {
		padding:15% 0 10% 10%;
		width:100%;
		position:relative;
	.label{
		bottom:8%;
	}
	}
	.inset-img {
		position:relative;
		z-index:2;
	    margin-top: -34%;
    	margin-left: -15%;
	.label{
		right:50%;
	}
}
}
.deals{
	.col{
	padding: 1em 3em;
	display:flex;
	justify-content: space-between;
	align-items:center;
}
	h1{
		text-transform:uppercase;
		color:#6a64de;
	    font: 500 1.5em "Montserrat", sans-serif;
	    letter-spacing: 4px;
	}
}
.carousel{
	display:flex;

	.card{
		margin: 0 30px;
		border-radius:5px;
		border: solid 1px #e1e1e1;
		img{
			width:100%;
			height:auto;
			border-radius: 5px 5px 0 0;
		}
	}
	.flight{
		padding:1em;;
		img{
			width:20px;
			display:inline-block;
		}
		h3{
			text-transform:uppercase;
			color:#959698;
			font-size:1em;
			display:inline-block;
			margin-left:.5em;
		}
		p{
			font: 300 1.3em $roboto;
			color:#000;
		}
	}
	.details{
		display:flex;
		justify-content: center;
		align-items:center;
		span{
			display:flex;

		}
	}
}