@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Roboto:300,400");
body {
  font: 16px "Montserrat", sans-serif;
  color: #fff;
  max-width: 1920px;
  margin: 0 auto;
  padding-bottom: 5%;
}

.row {
  margin: 0;
}

.col {
  padding: 0;
}

.container {
  padding: 0;
}

h1 {
  font-size: 4em;
  font-weight: bold;
  color: #ffffff;
  text-transform: capitalize;
}

a {
  color: #fff;
}
a:hover {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.cta {
  color: #6a64de;
}
.cta:hover {
  color: #6a64de;
}
.cta img {
  padding: 5px;
}

.container {
  background: #fff;
  max-width: 100%;
  overflow: hidden;
}

nav {
  -webkit-transition: ease all 1s;
  -ms-transition: ease all 1s;
  transition: ease all 1s;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  max-width: 1920px;
  margin: 0 auto;
}
nav .navbar-brand {
  padding-left: 1em;
}
nav li {
  font-size: 0.8em;
  background: #6a64de;
  min-width: 100px;
  margin: 5px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 3px;
  align-items: center;
  display: flex;
  justify-content: center;
}
nav li:hover {
  background: #fff;
  color: #6a64de;
}
nav li a {
  width: 100%;
  height: 100%;
}
nav li a:hover {
  color: #6a64de;
}

section {
  position: relative;
  height: auto;
  width: 100%;
}
section a {
  background: transparent;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.hero {
  height: 100vh;
  width: 100%;
  background: url(../images/hero-colour.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  justify-content: center;
  display: flex;
}
.hero .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}
.hero .overlay .arw {
  display: inline-block;
}
.hero .overlay .arw svg {
  margin-right: 10px;
  fill: #fff;
}
.hero .overlay h4 {
  font-size: 0.8em;
  text-transform: uppercase;
  display: inline-flex;
}
.hero .overlay .menu {
  text-transform: uppercase;
  margin: 3% auto;
  width: 60%;
}
.hero .overlay .menu a:hover {
  color: #000;
}
.hero .overlay .menu h3 {
  font-size: 1em;
  font-weight: 500;
}
.hero .overlay .menu ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}
.hero .overlay .menu li {
  list-style: none;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  height: 60px;
  flex-flow: row;
  font-size: 0.6em;
  letter-spacing: 1px;
  margin: 5px;
  width: 23%;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .overlay .menu li:hover {
  background: white;
  color: #000;
}
.hero .overlay .menu li:hover svg {
  fill: #000;
}
.hero .overlay .menu li svg {
  fill: #fff;
  width: 20px;
  margin: 1em;
}

.sec-1 .row {
  max-width: 80%;
  margin: 0 auto;
  padding-bottom: 5%;
}
.sec-1 h2 {
  color: #000;
  padding-top: 25%;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 5%;
  font-size: 2.5em;
}
.sec-1 p {
  color: #000;
  padding-right: 15%;
  line-height: 1.5;
  font-size: 1.3em;
}
.sec-1 .label {
  font: 700 2em "Montserrat", sans-serif;
  position: absolute;
  bottom: 0%;
  right: 0%;
  z-index: 5;
  color: #fff;
}
.sec-1 .main-img {
  padding: 15% 0 10% 10%;
  width: 100%;
  position: relative;
}
.sec-1 .main-img .label {
  bottom: 8%;
}
.sec-1 .inset-img {
  position: relative;
  z-index: 2;
  margin-top: -34%;
  margin-left: -15%;
}
.sec-1 .inset-img .label {
  right: 50%;
}

.deals .col {
  padding: 1em 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.deals h1 {
  text-transform: uppercase;
  color: #6a64de;
  font: 500 1.5em "Montserrat", sans-serif;
  letter-spacing: 4px;
}

.carousel {
  display: flex;
}
.carousel .card {
  margin: 0 30px;
  border-radius: 5px;
  border: solid 1px #e1e1e1;
}
.carousel .card img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}
.carousel .flight {
  padding: 1em;
}
.carousel .flight img {
  width: 20px;
  display: inline-block;
}
.carousel .flight h3 {
  text-transform: uppercase;
  color: #959698;
  font-size: 1em;
  display: inline-block;
  margin-left: 0.5em;
}
.carousel .flight p {
  font: 300 1.3em "Roboto", sans-serif;
  color: #000;
}
.carousel .details {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .details span {
  display: flex;
}

/*# sourceMappingURL=theme.css.map */
