@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Roboto:300,400');

$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;
$primary-color: #fff;
$secondary-color: #6a64de;


// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;

// Large tablets and desktops
$screen-xl-max: 1200px;

// Small devices
@mixin sm {
   @media only screen and (max-width: #{$screen-sm-max}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media only screen and (max-width: #{$screen-md-max}) {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (max-width: #{$screen-lg-max}) {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (max-width: #{$screen-xl-max}) {
       @content;
   }
}

@mixin transform($property) {
  -webkit-transform: $property;
      -ms-transform: $property;
          transform: $property;
}
@mixin transition($property) {
  -webkit-transition: $property;
      -ms-transition: $property;
          transition: $property;
}
@mixin background-size($property) {
    	-webkit-background-size: $property;
    	-moz-background-size: $property;
    	-o-background-size: $property;
    	background-size: $property;
}
body {
  font: 16px $montserrat;
  color: $primary-color;
  max-width:1920px;
  margin:0 auto;
  padding-bottom:5%;
  @include md{
  	  font: 12px $montserrat;
  }
    @include sm{
  	  font: 10px $montserrat;
  }
}

.row{margin: 0;}
.col{padding:0;}
.container{padding:0;}
h1 {
	font-size: 4em;
	font-weight:bold;
	color: $primary-color;
	text-transform:capitalize;
}
a{
	color:$primary-color;
		&:hover{
		color: $primary-color;
		cursor: pointer;
		text-decoration: none;
	}
}
.cta{
	color:$secondary-color;
	&:hover{
		color:$secondary-color;
	}
	&:hover img{
		@include transition(ease all .5s);
		@include transform (translateX(3px));
	}
	img{
		padding:5px;
	}
}
.container{
	background: $primary-color;
	max-width:100%;
	overflow:hidden;
}
.header{
	background:#786de8;
	position:fixed;
	height:25px;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
	ul{
	    padding: 0;
    	margin: 0;
		display:flex;
		align-items:center;
		justify-content: flex-start;
	    flex-wrap: wrap;
	    width: 100%;
	    height:25px;
	    .head-right{
	    	margin-left:auto;
	    	display:flex;
			li:first-child{
			border-left:1px solid rgba(255,255,255,0.3);
			}
	    }
		li{
			border-right: 1px solid rgba(255,255,255,0.3);
			list-style:none;
			align-items: center;
		    display: flex;
		    justify-content: center;
		    flex-flow:row;
		    padding:5px;
		    a{
	    	display:flex;
		    }
		    &:hover{
		    	opacity:0.8; 
		    }
		    img{
		    	height:12px;
		    	margin: 2px 5px;
		    	@include sm{
	    		    height: 8px;
    				margin: 0px 5px;
		    	}
		    }
		    p{
		    	font: 300 .8em $roboto;
		    	margin:0;
		    	span{
		    		font-weight: bold;
		    	}
		    }
		}
	}
}
nav{
	@include transition(ease all 1s);
	border-top: 1px solid rgba(255,255,255,0.7);
	border-bottom: 1px solid rgba(255,255,255,0.7);
	max-width:1920px;
	margin:0 auto;
	background:transparent;
	.navbar-brand{
		padding-left:1em;
		position:relative;
		.logo{
			opacity:1;
		}
		.logo-colour{
			position:absolute;
			width:100%;
			height:100%;
			opacity:0;
		    top: 0;
		    left: 0;
		    padding-left: 1em;
		}
	}
	ul{

	}
	li{
		font-size: .8em;
		background:$secondary-color;
		border: 1px solid $secondary-color;
		min-width: 100px;
		margin:5px;
		text-align:center;
		text-transform:uppercase;
		border-radius:3px;
		align-items: center;
	    display: flex;
	    justify-content: center;
		&:hover{
		background:$primary-color;
		color:$secondary-color;
		}
		a{
			width:100%; 
			height:100%;
			&:hover{color:$secondary-color;}
		}
	}

}
.fixed-top {
	top:25px;
}
section {
	position:relative; height: auto; width:100%;
	a{
		background:transparent;
	}
}
p{
	font-family: $roboto;
	font-weight: 300;
}

.hero {
	height:100vh; 
	width:100%;
    background: url(../images/hero-colour.jpg) no-repeat center center fixed;
	@include background-size(cover);
    justify-content: center;
    display: flex;

.overlay{
	position: absolute; width: 100%; height:100%; color: $primary-color;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-flow:column;
	text-align:center;
			.browse{
				&:hover img{
					@include transition(ease all .5s);
					@include transform (translateX(3px));
				}
			 img{
		    	margin-right:10px;
		    }

			h4{
				font-size:.8em;
				text-transform:uppercase;
				display:inline-flex;
			}
	    	}
		.menu{
			text-transform:uppercase;
			margin:3% auto;
		    width: 60%;
		    @include lg {
		    	width:100%;
		    	margin: 3%;
		    }
		    a{
		    	width:23%;
		    	margin:7px;
		    	@include sm{
					width:50%;
				}
		    	&:hover{
		    		color:#000;
		    	}
		    }
			h3{
				font-size:1em;
				font-weight:500;
			}

			ul{
		        display: flex;
			    flex-wrap: wrap;
			    width: 100%;
			    align-items: center;
			    justify-content: center;
			    margin: 0 auto;
			    padding: 0;
			}
			li{
			    list-style: none;
			    background: rgba(255, 255, 255, 0.3);
			    border-radius: 3px;
			    height: 75px;
			    flex-flow: row;
			    font-size: 0.6em;
			    letter-spacing: 1px;
				width: 100%;
				text-align: center;
				color: $primary-color;
				display: flex;
				align-items: center;
				justify-content: center;
				@include sm{
					height:40px;
					font-size: 1em;
				}
			    &:hover{
			    	background: rgba(255, 255, 255, 1);
			    	color:#000;
			    }
			    &:hover .icon .hidden{
			    	opacity:1;
			    }
			    img {
			    	width: 20px; 
			    	margin: 1em;

			    }
			    .icon{
			    	position:relative;
			    	.hidden{
			    		position:absolute;
			    		top:0;
			    		left:0;
			    		opacity:0;
			    	}
			    }
			}
		}
	}
}

.sec-1{
	.row{
		max-width:80%;
		margin:0 auto;
		padding-bottom: 5%;
	}
	h2{
		color:#000;
		padding-top:25%;
	    font-weight: 700;
		line-height: 1.2;
		margin-bottom: 5%;
		font-size:2.5em;
	}
	p{
		color: #000;
	    padding-right: 15%;
	    line-height: 1.5;
	    font-size: 1.3em;
	}
	.label{
		font: 700 2em $montserrat;
		position:absolute;
		bottom:0%;
		right:0%;
		z-index:5;
		color:$primary-color;
	}
	.main-img {
		padding:15% 0 10% 10%;
		width:100%;
		position:relative;
		img{
			width:100%;
			height:auto;
		}
	.label{
		bottom:8%;
	}
	}
	.inset-img {
		position:relative;
		z-index:2;
	    margin-top: -34%;
    	margin-left: -15%;
		img{
			width: 45%;
			height:auto;
		}
	.label{
		right:50%;
	}
}
}
.deals{
	.col{
	padding: 1em 3em;
	display:flex;
	justify-content: space-between;
	align-items:center;
}
	h1{
		text-transform:uppercase;
		color:$secondary-color;
	    font: 500 1.5em "Montserrat", sans-serif;
	    letter-spacing: 4px;
	}
}
.carousel{
	display:flex;
	margin:0 20px;

	.card{
		margin: 0 30px;
		border-radius:5px;
		border: solid 1px #e1e1e1;
		@include sm{
			margin: 0 5px;
		}
		@include lg{
			font-size:0.8em;
		}
		img{
			width:100%;
			height:auto;
			border-radius: 5px 5px 0 0;
		}
	}
	.flight{
		padding:1em;
		.discount{
			font: 300 1em $roboto;
			display:flex;
			justify-content: center;
			align-items: center;
			flex-flow:column;
			position:absolute;
			top:0;
			left:2%;
			color:$primary-color;
			width: 100px;
			height:100px;
			background: -moz-linear-gradient(61deg, rgba(122,106,241,1) 0%, rgba(122,201,250,1) 100%); /* ff3.6+ */
			background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(122,106,241,1)), color-stop(100%, rgba(122,201,250,1))); /* safari4+,chrome */
			background: -webkit-linear-gradient(61deg, rgba(122,106,241,1) 0%, rgba(122,201,250,1) 100%); /* safari5.1+,chrome10+ */
			background: -o-linear-gradient(61deg, rgba(122,106,241,1) 0%, rgba(122,201,250,1) 100%); /* opera 11.10+ */
			background: -ms-linear-gradient(61deg, rgba(122,106,241,1) 0%, rgba(122,201,250,1) 100%); /* ie10+ */
			background: linear-gradient(29deg, rgba(122,106,241,1) 0%, rgba(122,201,250,1) 100%); /* w3c */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ac9fa', endColorstr='#7a6af1',GradientType=0 ); /* ie6-9 */
			@include sm{
				height:50px;
				width:50px;
			}
			em{
				font: 500 1.5em $montserrat;
				display: inline-block;
			}
		}
		img{
			width:20px;
			display:inline-block;
		}
		h3{
			text-transform:uppercase;
			color:#959698;
			font-size:1em;
			display:inline-block;
			margin-left:.5em;
		}
		p{
			font: 300 1.3em $roboto;
			color:#000;
			margin:0;
		}
	}
	.details{
		display:flex;
		justify-content: center;
		align-items:start;
		border-top:1px solid #e1e1e1;
		border-bottom:1px solid #e1e1e1;
		span{
			display:flex;
			flex-flow:column;
			justify-content:center;
			align-items:center;
			flex:1;
			padding: 1em;
			img{
				height:40px;
				margin:1em;
			}
			p{
				font: 400 1em $roboto;
				color:#d3d5dd;
				margin-bottom:0;
			}
		}
	}
	.price{
		display:flex;
		justify-content: flex-start;
		align-items:center;
		padding:1em;
		h2{
			color:#000;
			font: 500 1.5em $montserrat;
		}
		.buttons{
			margin-left:auto;
			display: flex;
			flex-flow:row;
		}
		a{
			display:flex;
			font-size: 1em;
			background:#7ab4f8;
			min-width: 100px;
			padding:.5em 1em;
			margin:5px;
			text-align:center;
			text-transform:uppercase;
			border-radius:3px;
			align-items: center;
			justify-content:center;
			@include md{
				min-width: 65px;
			}
			&:hover{
			background:$secondary-color;
			}
		}
	}
}
.phone{
	margin-top:5%;
	img{
		width:100%;
		height:auto;
	}
}