$font-stack:  Monsterrat, sans-serif;
$primary-color: #fff;

@mixin transform($property) {
  -webkit-transform: $property;
      -ms-transform: $property;
          transform: $property;
}
@mixin transition($property) {
  -webkit-transition: $property;
      -ms-transition: $property;
          transition: $property;
}
@mixin background-size($property) {
    	-webkit-background-size: $property;
    	-moz-background-size: $property;
    	-o-background-size: $property;
    	background-size: $property;
}
body {
  font: 16px $font-stack;
  color: $primary-color;
}
.row{margin: 0;}
.col{padding:0;}
.container{padding:0;}
h1 {
	font-size: 4em;
	font-weight:bold;
	color: #ffffff;
	text-transform:capitalize;
}
a{
	color:$primary-color;
		&:hover{
		color:#6a64de;
	}
}
.container{
	background: #fff;
	max-width:100%;
	overflow:hidden;
}
nav{
	@include transition(ease all 1s);
	border-top: 1px solid rgba(255,255,255,0.7);
	border-bottom: 1px solid rgba(255,255,255,0.7);
	ul{

	}
	li{
		font-size: .8em;
		background:#6a64de;
		min-width: 100px;
		margin:5px;
		text-align:center;
		text-transform:uppercase;
		border-radius:3px;
		align-items: center;
	    display: flex;
	    justify-content: center;
		&:hover{
			background:#fff;
			color:#6a64de;
		}
	}

}
section {
	position:relative; height: auto; width:100%;
	a{
		background:transparent;
	}
}
p{
	font-family: Roboto, sans-serif;
	font-weight: 300;
}
.box { 
	@include transform(rotate(30deg));
	 }

.hero {
	height:100vh; 
	width:100%;
    background: url(../images/hero-colour.jpg) no-repeat center center fixed;
	@include background-size(cover);
    justify-content: center;
    display: flex;

.overlay{
	position: absolute; width: 100%; height:100%; color: $primary-color;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-flow:column;
	text-align:center;
	
			h4{
				font-size:.8em;
				text-transform:uppercase;
			}
		.menu{
			text-transform:uppercase;
			margin:3% auto;
		    width: 60%;
			h3{
				font-size:1em;
				font-weight:500;
			}

			ul{
		        display: flex;
			    flex-wrap: wrap;
			    width: 100%;
			    align-items: center;
			    justify-content: center;
			    margin: 0 auto;
			    padding: 0;
			}
			li{
			    list-style: none;
			    background: rgba(255, 255, 255, 0.2);
			    border-radius: 3px;
			    height: 60px;
			    flex-flow: row;
			    font-size: 0.6em;
			    letter-spacing: 1px;
			    margin:5px;
			      width: 23%;
				  text-align: center;
				  color: #fff;
				  display: flex;
				  align-items: center;
				  justify-content: center;
			    &:hover{
			    	background: rgba(255, 255, 255, 1);
			    	color:#000;
			    }
			    svg {
			    	fill:#fff;
			    	width: 20px; 
			    	margin: 1em;
			    }

			}
		}
	}
}
.sec-1{
	.row{
		max-width:80%;
		margin:0 auto;
		height:80vh;
	}
	h2{
		color:#000;
		padding-top:30%;
	}
	p{
		color:#000;
	}
	img{
		padding:20% 0 10% 10%;
		width:100%;
	}
}